.search {
  padding: 0 2rem;
  .search-component {
    margin-left: 2rem;
  }
}
/* breweries styles */
.breweries {
  padding: 2rem;
}

.breweries > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  list-style: none;
}

.breweries > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}

.breweries > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 00.75rem;
  color: #666666;
  margin: 0;
  &:last-child() {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  label{
      font-weight: 600;
      color:#000;
  }
}

.breweries > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
